*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(80, 138, 230);

}
header{
    margin-bottom: 2.5rem;
    color: aliceblue;
    font-size: 1.5rem;
}
.full-container{
    /* border: 2px double brown; */
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: wheat;
    border: none;
    /* justify-content:center ; */
}

.images-container{
    /* border: 1px solid black; */
    margin-top: 2rem;
    width: 80%;
    height: 30%;
    display: flex;
    /* flex-direction: column; */
    gap: 7rem;
    align-items: center;
    justify-content: center;

}

img{
    width:13rem;
    height:13rem;
    border: none;
    border-radius: 50%;

}

img:hover{
    border: 4px solid rgb(0, 0, 0);
}

#message-box{
    background-color: gray;
    padding: auto;
    width: 13rem;
    width: auto;
    height: 2rem;
    font-size: 1.8rem;
    text-align: center;
    visibility:hidden ;
    /* display: none; */
}

.scoreBoard{
    /* border: 2px solid black; */
    height: 20%;
    width: 40%;
    display: flex;
    flex-direction: column;
    
}

.participants{
    /* border: 2px solid red; */
    width: 100%;
    height: 50%;
    display: flex;
    /* text-align: center; */
}

.part{
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(44, 242, 44);

}
.participant-score{
     /* border: 2px solid red; */
    width: 100%;
    height: 50%;
    display: flex;
    /* text-align: center; */
}

.score{
     height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    color: rgba(69, 69, 244, 0.937);
}

.totalMatches{
    display: flex;
    gap: 2rem;
    font-size: 2.4rem;
    font-weight: bold;

}


#total-matches-score{
    color: grey;
}

.reset{
    width: 6rem;
    height:3rem;
    font-size: 1.4rem;
    font-weight: 800;
    background-color: rgb(72, 38, 174);
    color: rgb(4, 209, 246);
    border: none;
    border-radius: 10px;
    transition: background-color 0.5s linear;
    transition: color 0.5s linear;
    visibility: hidden;
}

.hover-img:hover{
    cursor: pointer;
}

.hover-reset:hover{
    cursor: pointer;
    background-color: rgb(8, 2, 137);
    color: gold;
    transition: background-color 0.5s linear;
    transition: color 0.5s linear;
    
}